* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.pivot_menu .pivot_button,
.pivot_menu .pivot_title {
  color: #fcfcfc;
}

.pivot_menu {
  width: 100vw;
  background-color: black;
  z-index: 1;
}

[class*="col-"] {
  width: 100%;
}

.cover {
  background-image: url("./image1.jpg");
  background-size: cover;
  background-attachment: fixed;
  height: 99vh;
  width: 100%;
}

/*h1.anim{
    animation-name: bounce;
    animation-duration: 3s;
}

h2.anim{
    animation-name: bounce;
    animation-duration: 3s;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-25px); }
  60% { transform: translateY(-15px); }*/

.bottom_left {
  top: 16.5vh;
  position: relative;
  left: 5.7vh;
  color: #fcfcfc;
  transition: all 4s;
  -webkit-transition: all 5s;
  -moz-transition: all 6s;
}

.vert_space {
  padding-top: 12vh;
  padding-bottom: 12vh;
}

.content_padding {
  padding: 16px;
}

.div_padding {
  padding-top: 16px;
  border-radius: 10px;
  cursor: pointer;
}

.skill_color {
  background: #211c52;
  color: #fcfcfc;
}

.footer {
  width: 100vw;
  background-color: black;
  color: #fcfcfc;
}

.contact_options {
  font-size: 23px;
  color: #fcfcfc;
  padding: 8px 16px;
}

.social_icon {
  width: 60px;
  height: 60px;
  border-radius: 5px;
}

.project {
  width: 255px;
  height: 240px;
  border-radius: 30px;
  align-items: center;
  z-index: 1;
}

#webproj {
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Orbitron");

#clock {
  font-family: "Orbitron", sans-serif;
  color: #43ace3;
  font-size: 15px;
}

.intro {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: rgb(97, 105, 109);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text {
  color: rgb(227, 242, 255);
  font-family: "Heebo", sans-serif;
  font-size: 20px;
}

.hide {
  background: black;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}

@media only screen and (max-width: 400px) {
  .pivot_menu .pivot_button,
  .pivot_menu .pivot_title {
    flex-direction: column;
  }
  .footer {
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem, 9rem !important;
  }
  .bottom_left {
    left: 1.4rem;
    font-size: 15px;
    top: 6rem;
  }
  .div_padding {
    flex-direction: column;
  }
}
